extends layout 
block style
  link(rel="stylesheet", href="/stylesheets/list.css")
block content 
  ul.list
    for item in items
      li.list-item
        a(href=item.url)
          h3 #{item.name} (#{item.category.name})
          p in stock: 
            span.colored #{item.stock}
          p price: 
            span.colored $#{item.price} 